<table class="profile" summary="Profile information">
	<tr>
		<td class="main">
			<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
			</h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user.id), @user %>
		</td>
	</tr>
	<% @user.authorizations.each do |authorization| %>
		<tr>
			<td>
				<%= authorization.provider %>
			</td>

		</tr>
		<% if authorization.provider == 'facebook' %>
			<tr>
				<td>
					<%= link_to "click here to view fb Profile Image", facebookUserInfo(authorization['token']) %>
				</td>
			</tr>
		<% end %>
	<% end %>
</table>